<!DOCTYPE html>
<html>
    <head>
        <title> 404 </title>
        <link rel="icon" href="/images/icon.jpg">
        <meta name="viewport" content="width = device-width , initial-scale=1"> 
    </head>
     <!-- error page -->
    <body>
        <img src="/images/error.jpg" style="width: 50%; height: 50%;position: absolute;left: 20%;">
    </body>
</html>