<!DOCTYPE html>
<html>
    <head>
        <title> 404 </title>
        <link rel="icon" href="/images/icon.jpg">
    </head>

    <body>
        <img src="/images/oops.jpg" style="width: 50%; height: 50%;position: absolute;left: 20%;">
    </body>
</html>