<!DOCTYPE html>
<html>
    <head>
        <title> XMEME APP </title>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="icon" href="/images/icon.jpg">

    </head>

    <body>
        <p class="popup"> </p>
        <div class="details">
            <h1> MEME STREAM </h1>
            <form action= "/updated?_method=PATCH" method="POST">

                    <p> New caption </p>
                    <input type="text" name="caption" placeholder="what's in your mind">
        
                    <p> New url </p>
                    <input type="url" name="url" id="url" placeholder="url...">
                
                <button id="mainbutton" type="submit"> update </button> <br><br>
            </form>
        </div>
        
       <footer> Created by Ayush  </footer>
    </body>

</html>