<!DOCTYPE html>
<html>
    <head>
        <title> XMEME APP </title>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="icon" href="/images/icon.jpg">
        <meta name="viewport" content="width = device-width , initial-scale=1"> 

    </head>
     
    <!-- update window to enter fields such as new url and new caption from a fixed user -->
    <body>
        <header> Created by Ayush  </header>

        <p class="popup"> </p>
        <div class="details">
            <h1> MEME STREAM </h1>
            <form action= "/updated?_method=PATCH" method="POST">

                    <p> New caption </p>
                    <input type="text" name="caption" placeholder="what's in your mind">
        
                    <p> New url </p>
                    <input type="url" name="url" id="url" placeholder="url...">
                
                <button id="mainbutton" type="submit"> update </button> <br><br>
            </form>
        </div>
        
      
    </body>

</html>